<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>数据库处理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB6EB2501DB5BF1000C2A1DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6EB2691DB5BF1000C2A1DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6EB2741DB5BF1000C2A1DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
