<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>id</key>
			<string>0</string>
			<key>tagName</key>
			<string>全部</string>
		</dict>
		<dict>
			<key>id</key>
			<string>e4fd8f29b6fe4560ba6ec0e43530802b</string>
			<key>isNewRecord</key>
			<false/>
			<key>label</key>
			<string>动态信息供应标签</string>
			<key>remarks</key>
			<string>产地</string>
			<key>sort</key>
			<string>1</string>
			<key>tagName</key>
			<string>产地</string>
			<key>tagType</key>
			<string>2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3b9ba7ecf9d74bfc9befc64e2d3f23ad</string>
			<key>isNewRecord</key>
			<false/>
			<key>label</key>
			<string>动态信息供应标签</string>
			<key>remarks</key>
			<string>预售</string>
			<key>sort</key>
			<string>2</string>
			<key>tagName</key>
			<string>预售</string>
			<key>tagType</key>
			<string>2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>206a6d8d468f46d9b8d0286b9e8d53ff</string>
			<key>isNewRecord</key>
			<false/>
			<key>label</key>
			<string>动态信息供应标签</string>
			<key>remarks</key>
			<string>特价</string>
			<key>sort</key>
			<string>3</string>
			<key>tagName</key>
			<string>特价</string>
			<key>tagType</key>
			<string>2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>347009124d054a5a8276000750dcb17b</string>
			<key>isNewRecord</key>
			<false/>
			<key>label</key>
			<string>动态信息供应标签</string>
			<key>remarks</key>
			<string>尾款</string>
			<key>sort</key>
			<string>4</string>
			<key>tagName</key>
			<string>尾款</string>
			<key>tagType</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
