<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>descs</key>
			<string>批发商服务</string>
			<key>id</key>
			<string>c69080fd51ea4ccaa5895a5c01bc131f</string>
			<key>img</key>
			<string>http://10.200.12.8:8080/res/null</string>
			<key>linkclass</key>
			<integer>1</integer>
			<key>linktype</key>
			<integer>1</integer>
			<key>linkurl</key>
			<string>http://10.200.12.8:8099/store/html/wholesalerLooked.html</string>
			<key>name</key>
			<string>批发商服务</string>
		</dict>
		<dict>
			<key>descs</key>
			<string>逛市场</string>
			<key>id</key>
			<string>cf835634aeb14ceda0e76d3a70df8e25</string>
			<key>img</key>
			<string>http://10.200.12.8:8080/res/null</string>
			<key>linkclass</key>
			<integer>1</integer>
			<key>linktype</key>
			<integer>1</integer>
			<key>linkurl</key>
			<string>http://10.200.12.8:8099/store/html/buyerLooked.html</string>
			<key>name</key>
			<string>逛市场</string>
		</dict>
		<dict>
			<key>descs</key>
			<string>来货行情</string>
			<key>id</key>
			<string>815fab1ad4db42f38c8a48e26b140218</string>
			<key>img</key>
			<string>http://10.200.12.8:8080/res/null</string>
			<key>linkclass</key>
			<integer>1</integer>
			<key>linktype</key>
			<integer>1</integer>
			<key>linkurl</key>
			<string>http://10.200.12.8:8099/store/html/market/marketInformation.html</string>
			<key>name</key>
			<string>来货行情</string>
		</dict>
		<dict>
			<key>descs</key>
			<string>农商资讯</string>
			<key>id</key>
			<string>d0fc2715d88d4f28907b9118badf795f</string>
			<key>img</key>
			<string>http://10.200.12.8:8080/res/null</string>
			<key>linkclass</key>
			<integer>1</integer>
			<key>linktype</key>
			<integer>1</integer>
			<key>linkurl</key>
			<string>http://10.200.12.8:8099/store/html/farmerMeau.html</string>
			<key>name</key>
			<string>农商资讯</string>
		</dict>
		<dict>
			<key>descs</key>
			<string>市场指南</string>
			<key>id</key>
			<string>ec0ae35c436249e885d9f1e508e94908</string>
			<key>img</key>
			<string>http://10.200.12.8:8080/res/null</string>
			<key>linkclass</key>
			<integer>1</integer>
			<key>linktype</key>
			<integer>1</integer>
			<key>linkurl</key>
			<string>http://10.200.12.8:8099/store/html/directionMeau.html</string>
			<key>name</key>
			<string>市场指南</string>
		</dict>
	</array>
</dict>
</plist>
