<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>cityid</key>
			<string>0000</string>
			<key>cityname</key>
			<string>全国</string>
		</dict>
		<dict>
			<key>cityid</key>
			<string>5631</string>
			<key>cityname</key>
			<string>深圳市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>1480bafcf5034cdfa9e7aaee8c72471b</string>
					<key>marketname</key>
					<string>市场部门</string>
				</dict>
				<dict>
					<key>marketid</key>
					<string>3c154b3aaaf94e1eb4a0f88e88942709</string>
					<key>marketname</key>
					<string>深圳海吉星国际农产品物流园</string>
					<key>marketphone</key>
					<string>13423542134</string>
				</dict>
				<dict>
					<key>marketid</key>
					<string>8ba6bcb4c38d404b8a2c6bc10581c376</string>
					<key>marketname</key>
					<string>结算中心</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>5682</string>
			<key>cityname</key>
			<string>惠州市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>581ae3ce11cd4a9a8bae12a302ce6f31</string>
					<key>marketname</key>
					<string>惠州农产品物流配送中心</string>
					<key>marketphone</key>
					<string>13423542134</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>4025</string>
			<key>cityname</key>
			<string>南宁市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>7968543cad584572b69b7a76be54db3e</string>
					<key>marketname</key>
					<string>广西海吉星国际农产品物流中心</string>
					<key>marketphone</key>
					<string>0771-4899949</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>5487</string>
			<key>cityname</key>
			<string>长沙市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>f39214fc2c94424e9fd2d774123b037a</string>
					<key>marketname</key>
					<string>长沙黄兴海吉星国际农产品物流园</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>3306</string>
			<key>cityname</key>
			<string>南昌市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>e1f4bde94d56413ab89d5a3ce405fae9</string>
					<key>marketname</key>
					<string>南昌(深圳)农产品中心批发市场</string>
					<key>marketphone</key>
					<string>13423542134</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>3636</string>
			<key>cityname</key>
			<string>长春市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>4d2ffea8c5284ddeb0f73ea11aafc820</string>
					<key>marketname</key>
					<string>长春海吉星农产品物流中心</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>4463</string>
			<key>cityname</key>
			<string>西安市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>c9e000e66305457f93b37537a520d688</string>
					<key>marketname</key>
					<string>西北农副产品中心批发市场</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>4196</string>
			<key>cityname</key>
			<string>成都市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>68cd25c456f2435baf93aa7ef6bb618c</string>
					<key>marketname</key>
					<string>成都农产品中心批发市场</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityid</key>
			<string>3824</string>
			<key>cityname</key>
			<string>上海市</string>
			<key>marketlist</key>
			<array>
				<dict>
					<key>marketid</key>
					<string>b6adaed4e64743488ee2e59198d5ff6a</string>
					<key>marketname</key>
					<string>上海农产品中心批发市场</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
