<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>emarketid</key>
			<string>3c154b3aaaf94e1eb4a0f88e88942709</string>
			<key>emarketname</key>
			<string>平湖海吉星</string>
			<key>eproducttypeid</key>
			<string>220D46491A622CE5E050A8C043012F5B</string>
			<key>eproducttypename</key>
			<string>四季豆</string>
			<key>fullname</key>
			<string>深圳海吉星国际农产品物流园</string>
			<key>tdcount</key>
			<integer>0</integer>
			<key>tdnetweight</key>
			<integer>0</integer>
			<key>ydcount</key>
			<integer>0</integer>
			<key>ydnetweight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>emarketid</key>
			<string>3c154b3aaaf94e1eb4a0f88e88942709</string>
			<key>emarketname</key>
			<string>平湖海吉星</string>
			<key>eproducttypeid</key>
			<string>220D46491B202CE5E050A8C043012F5B</string>
			<key>eproducttypename</key>
			<string>菜心</string>
			<key>fullname</key>
			<string>深圳海吉星国际农产品物流园</string>
			<key>tdcount</key>
			<integer>0</integer>
			<key>tdnetweight</key>
			<integer>0</integer>
			<key>ydcount</key>
			<integer>0</integer>
			<key>ydnetweight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>emarketid</key>
			<string>3c154b3aaaf94e1eb4a0f88e88942709</string>
			<key>emarketname</key>
			<string>平湖海吉星</string>
			<key>eproducttypeid</key>
			<string>220D46491B502CE5E050A8C043012F5B</string>
			<key>eproducttypename</key>
			<string>土豆</string>
			<key>fullname</key>
			<string>深圳海吉星国际农产品物流园</string>
			<key>tdcount</key>
			<integer>0</integer>
			<key>tdnetweight</key>
			<integer>0</integer>
			<key>ydcount</key>
			<integer>0</integer>
			<key>ydnetweight</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>emarketid</key>
			<string>3c154b3aaaf94e1eb4a0f88e88942709</string>
			<key>emarketname</key>
			<string>平湖海吉星</string>
			<key>eproducttypeid</key>
			<string>220D46491BBF2CE5E050A8C043012F5B</string>
			<key>eproducttypename</key>
			<string>西瓜</string>
			<key>fullname</key>
			<string>深圳海吉星国际农产品物流园</string>
			<key>tdcount</key>
			<integer>0</integer>
			<key>tdnetweight</key>
			<integer>0</integer>
			<key>ydcount</key>
			<integer>0</integer>
			<key>ydnetweight</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
